<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="file://[mathjax_abs_path]"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            background: white;
        }
        #equation-container {
            display: inline-block;
            padding: [padding];
            background: white;
            max-width: [container_width];
        }
    </style>
</head>
<body>
    <div id="equation-container">
        [mathml_str]
    </div>
</body>
</html>
